
@model IList<WebApplication1.Models.Produto>
<script src="~/Scripts/filtrar-tabela.js"></script>



<h2>@ViewBag.Restaurante.Nome</h2>
@if(ViewBag.Restaurante.UsuarioId == ViewBag.Usuario.UsuarioId || ViewBag.Usuario.UsuarioId == 10)
{
    @Html.ActionLink("Cadastrar Produto", "Form", "Produto", new { area = "" }, new { @class = "btn btn-default" })
}
<br />
<label for="filtrar-tabela">Filtre:</label>
<input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite o nome do produto">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Controle</th>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Preco</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model){
            if (produto.RestauranteId == ViewBag.Restaurante.RestauranteId){
                    <tr id="linha@(produto.ProdutoId)" class="linha">
                        <td>
                        @if(ViewBag.Restaurante.UsuarioId == ViewBag.Usuario.UsuarioId || ViewBag.Usuario.UsuarioId == 10)
                        {
                            <div class="box left">
                            @*Remover Produto*@
                            
                            <input onclick="remover(@produto.ProdutoId,'@Url.Action("Remover","Produto")')" class="btn btn-danger" type="button"
                                    value="Remover" />
                            
                            </div>
                            <div class="box left">
                            @*Modificar Produto*@
                            @Html.ActionLink("Editar", "Modificar", new { produtoId = produto.ProdutoId }, new { @class = "btn btn-default" })
                            </div>
                        }
                        else
                        {

                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                                <!-- Identify your business so that you can collect the payments. -->
                                <input type="hidden" name="business" value="viniciusnicoceli-facilitator@gmail.com">

                                <!-- Specify a Buy Now button. -->
                                <input type="hidden" name="cmd" value="_xclick">

                                <!-- Specify details about the item that buyers will purchase. -->
                                <input type="hidden" name="item_name" value="@produto.Nome">
                                <input type="hidden" name="amount" value="@produto.Preco">
                                <input type="hidden" name="currency_code" value="BRL">

                                <!-- Display the payment button. -->
                                <input type="image" name="submit" border="0"
                                       src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png"
                                       alt="Buy Now">
                                <img alt="" border="0" width="1" height="1"
                                     src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

                            </form>

                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">

                                <!-- Identify your business so that you can collect the payments. -->
                                <input type="hidden" name="business" value="viniciusnicoceli-facilitator@gmail.com">

                                <!-- Specify a PayPal Shopping Cart Add to Cart button. -->
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">

                                <!-- Specify details about the item that buyers will purchase. -->
                                <input type="hidden" name="item_name" value="@produto.Nome">
                                <input type="hidden" name="amount" value="@produto.Preco">
                                <input type="hidden" name="currency_code" value="BRL">

                                <!-- Display the payment button. -->
                                <input type="image" name="submit"
                                       src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_addtocart_120x26.png"
                                       alt="Add to Cart">
                                <img alt="" width="1" height="1"
                                     src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                            </form>
                        }
                    </td>
                        <td>@produto.ProdutoId</td>
                        <td class="info-nome" id="nome@(produto.ProdutoId)">@produto.Nome</td>
                        <td id="preco@(produto.ProdutoId)">@produto.Preco</td>
                    </tr>
                }
        }

            
        
    </tbody>
</table>